
@{
    ViewData["Title"] = "HelloSeller";
    Layout = "~/Views/Shared/Account/_Layout.cshtml";
}

<div class="my-5 text-center">
    <h1>Xin chào @ViewBag.TenNguoiBan</h1>
    <h1>ID của bạn là: @ViewBag.ID</h1>
</div>

