<!DOCTYPE html>
<html lang="en-US" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="msapplication-TileImage" content="~/Customer/assets/img/favicons/mstile-150x150.png">
    <meta name="theme-color" content="#ffffff">
    <link href="~/Customer/assets/css/theme.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>@ViewData["Title"]</title>
</head>
<body>
<main class="main">
    <!-- header-->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3 d-block" data-navbar-on-scroll="data-navbar-on-scroll">
        <div class="container">
            <a class="navbar-brand d-inline-flex" href="~/Customer/Index">
                <span class="text-light fs-2 fw-bold ms-2">HOME</span>
            </a>
            <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse border-top border-lg-0 mt-4 mt-lg-0" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item px-2">
                        <a class="nav-link fw-bold active" aria-current="page" href="#stores">STORES</a>
                    </li>
                    <li class="nav-item px-2">
                        <a class="nav-link fw-bold" href="#contact">CONTACT</a>
                    </li>
                    <li class="nav-item px-2">
                        <a class="nav-link fw-bold" href="#news">NEWS</a>
                    </li>
                </ul>
            </div>
            <form class="row row-cols-lg-auto g-0 align-items-center">
                <div class="col-5 col-lg-11">
                    <div class="input-group">
                        <input class="rounded-end-0 form-control" id="colFormLabel" type="email" placeholder="Search..."/>
                    </div>
                </div>
            </form>
            <div>
                <a class="btn btn-sm btn-outline-primary me-3" href="#">LOGIN </a>
                <a class="btn btn-sm btn-outline-primary" href="#">SIGN-UP</a>
            </div>
        </div>
    </nav>

    @RenderBody()

    <!-- footer-->
    <section class="py-0 pt-7" id="contact">
        <div class="container">
            <div class="border-bottom border-700"></div>
            <div class="row flex-center my-3">
                <div>
                    <h5>Contact with email : admin@gmail.com</h5>
                    <h5>Design 2021</h5>
                </div>
                <div class="col-md-6 order-1 order-md-0">
                    <p class="my-2 text-800 text-center text-md-start">
                        Made with&nbsp;
                        <svg class="bi bi-suit-heart-fill" xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="#EB6453" viewBox="0 0 16 16">
                            <path d="M4 1c2.21 0 4 1.755 4 3.92C8 2.755 9.79 1 12 1s4 1.755 4 3.92c0 3.263-3.234 4.414-7.608 9.608a.513.513 0 0 1-.784 0C3.234 9.334 0 8.183 0 4.92 0 2.755 1.79 1 4 1z"></path>
                        </svg>&nbsp;by&nbsp;<a class="text-500" href="https://themewagon.com/" target="_blank">Myteam </a>
                    </p>
                </div>
                <div class="col-md-6">
                    <div class="text-center text-md-end">
                        <a href="https://www.facebook.com/B%E1%BA%AFp-sneaker-104357814404363">
                            <span class="text-warning" data-feather="facebook"></span>
                        </a>
                        <a href="https://www.instagram.com/saigonsneakerstore/">
                            <span class="text-warning" data-feather="instagram"></span>
                        </a>
                        <a href="https://www.youtube.com/watch?v=HSC2SeNKR68">
                            <span class="text-warning" data-feather="youtube"></span>
                        </a>
                        <a href="https://www.youtube.com/watch?v=HSC2SeNKR68">
                            <span class="text-warning" data-feather="twitter"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<script src="~/Customer/vendors/popperjs/popper.min.js"></script>
    <script src="~/Customer/vendors/bootstrap/bootstrap.min.js"></script>
    <script src="~/Customer/vendors/is/is.min.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
    <script src="~/Customer/vendors/feather-icons/feather.min.js"></script>
    <script>
      feather.replace();
    </script>
    <script src="~/Customer/assets/js/theme.js"></script>

    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;700&amp;display=swap" rel="stylesheet">
  
</body>
</html>