@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/Customer/_Layout.cshtml";
}

<!---Section Tin tức-->
<!--Tin tức-->
<div class="container">
<div class="header-news-section pt-7">
<div class="row">
<!--Cột tin tức lớn bên trái-->
<div class="col-md-9">
    <div class="card bg-dark text-white">
        <img src="https://assets.wallpapersin4k.org/uploads/2017/04/Nike-Shoes-HD-Wallpaper-18.jpg" class="card-img" alt="...">
        <div class="card-img-overlay d-flex flex-column justify-content-end">

            <div class="row my-3">
                <div class="col-4 d-flex align-items-center">
                    <span class="py-1 px-2 bg-primary">
                        <b>Tin mới</b>
                    </span>
                    <span style="margin: 10px">
                        <b>|</b>
                    </span>
                    <i class="bi bi-calendar3"></i>
                    <span style="padding-left: 5px">20-11-2021</span>
                </div>
            </div>

            <h3 class="card-title text-uppercase">Nike cam kết tiếp tục đầu tư mở rộng sản xuất tại Việt Nam</h3>
            <p class="card-text">
                Lãnh đạo tập đoàn Nike cam kết tiếp tục đầu tư, mở rộng sản xuất tại Việt Nam sau khi gần 200 nhà máy của doanh nghiệp này đã quay lại sản xuất.
                Tính đến ngày 1.11, có 1.324/1.412 doanh nghiệp trong các khu chế xuất, khu công nghiệp của TP.HCM đăng ký hoạt động trở lại.
                Số lao động trở lại làm việc đạt khoảng 88%.
            </p>
            <small class="card-text d-flex align-items-center">
                <i class="bi bi-eye"></i>

                <span style="padding-left: 5px">2410 lượt xem</span>
            </small>
        </div>
    </div>

    <div class="row flex-center">
        <div class="position-relative ms-auto py-5">
            <a class="carousel-control-prev carousel-icon z-index-2" href="#carouselExampleFade" role="button" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </a>

            <hr>
            <h5 class="text-center">CÓ THỂ BẠN QUAN TÂM</h5>
            <hr>

            <a class="carousel-control-next carousel-icon z-index-2" href="#carouselExampleFade" role="button" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </a>
        </div>

        <div style="min-height: 350px;" class="row">
            <div class="carousel slide carousel-fade" id="carouselExampleFade" data-bs-ride="carousel">
                <div class="carousel-inner">

                    <div class="carousel-item active">
                        <div class="row">
                            <div class="col-6">
                                <img src="https://img2.cgtrader.com/items/776619/064717e66d/man-mannequin-nike-pack-3-3d-model-max-obj-fbx.jpg"
                                     class="img-fluid" alt="...">

                            </div>
                            <div class="col">
                                <h5 class="fs-3 fs-lg-5 lh-sm text-uppercase">Trở thành nhà bán hàng của chúng tôi</h5>
                                <p class="my-4 pe-xl-5">
                                    Memphis clinched a spot in the play-in tournament with the victory,
                                    but the fight for seeding continues. The race for the No. 8 spot in the West --
                                    and the safety net of having to win just one of two games to make the playoffs --
                                    could come...
                                    <a class="text-light" href="#">Xem thêm</a>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="carousel-item">
                        <div class="row">
                            <div class="col-6">
                                <img src="https://images.vans.com/is/image/VansBrand/5W1A1431?wid=1380"
                                     class="img-fluid" alt="...">
                            </div>
                            <div class="col">
                                <h5 class="fs-3 fs-lg-5 lh-sm text-uppercase">Kỉ nệm 10 năm "HOUSE OF VANS"</h5>
                                <p class="my-4 pe-xl-5">
                                    Memphis clinched a spot in the play-in tournament with the victory,
                                    but the fight for seeding continues. The race for the No. 8 spot in the West --
                                    and the safety net of having to win just one of two games to make the playoffs --
                                    could come...
                                    <a class="text-light" href="#">Xem thêm</a>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="carousel-item">
                        <div class="row">
                            <div class="col-6">
                                <img src="https://snkrvn.com/wp-content/uploads/2020/06/Bitis-Hunter-Street-x-Vie%CC%A3%CC%82t-Max.jpg"
                                     class="img-fluid" alt="...">

                            </div>
                            <div class="col">
                                <h5 class="fs-3 fs-lg-5 lh-sm text-uppercase">ĐÁNH GIÁ BITI’S HUNTER STREET</h5>
                                <p class="my-4 pe-xl-5">
                                    Sự tích luỹ văn hoá được luôn được duy trì, biến đổi.
                                    Nếu xét về tính vật chất thì đường phố tồn tại và văn hoá được
                                    xây dựng bởi yếu tố con người, cấu trúc xây dựng, cảnh quan,…
                                    Tất cả tổng hoà và được lựa chọn để sử dụng trên cả ba đôi sneakers
                                    Biti’s Hunter x Việt Max – Hà Nội Culture Patchwork...
                                    <a class="text-light" href="#">Xem thêm</a>
                                </p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="row d-flex align-items-center min-vh-50 min-vh-xl-50">
        <div class="col-md-8 col-lg-6 text-md-start text-center">
            <h1 class="display-1 lh-sm text-uppercase text-light">Khám phá dành<br class="d-none d-xxl-block"/> <br> Cho bạn</h1>
        </div>
        <div class="col-md-4">
            <div class="d-flex justify-content-between mb-1">
                <img style="border-radius: 100%; width: 128px; height: 128px;"
                     src="https://citisportsonline.com/wp-content/uploads/2019/12/puma-logo-png-puma-graphic-shorts-mens-1474363556-png-300.png"
                     class="" alt="...">
                <img style="border-radius: 100%; width: 128px; height: 128px;"
                     src="https://scontent.fvca1-4.fna.fbcdn.net/v/t1.18169-9/19894573_1946694285554546_2483250157916302544_n.png?_nc_cat=109&ccb=1-5&_nc_sid=973b4a&_nc_ohc=z4nm1ltaAbkAX-BD2EQ&_nc_ht=scontent.fvca1-4.fna&oh=d785ce9ec3fa0b2abd5ff121514f4728&oe=61C1925C"
                     class="mx-1" alt="...">
                <img style="border-radius: 100%; width: 128px; height: 128px;"
                     src="https://d1yjjnpx0p53s8.cloudfront.net/styles/logo-original-577x577/s3/032016/untitled-1_233.png?itok=CY49s6wa"
                     class="" alt="...">
            </div>
            <div class="d-flex justify-content-between mt-1">
                <img style="border-radius: 100%; width: 128px; height: 128px;"
                     src="https://www.pngkey.com/png/full/199-1995526_car-motorbike-stickers-vector-logos-converse-all-star.png"
                     class="" alt="...">
                <img style="border-radius: 100%; width: 128px; height: 128px;"
                     src="https://th.bing.com/th/id/OIP.Lf2K21S_y9ZfRw01ualKrQHaHa?pid=ImgDet&w=600&h=600&rs=1"
                     class="mx-1" alt="...">
                <img style="border-radius: 100%; width: 128px; height: 128px;"
                     src="https://pngimg.com/uploads/adidas/adidas_PNG17.png"
                     class="bg-light" alt="...">
            </div>
        </div>
    </div>

    <hr>
    <h5 class="text-center">TIN MỚI</h5>
    <hr>

    <div class="row bg-light">
        <div class="col-6">
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 mb-4">
                <div class="card">
                    <svg class="bd-placeholder-img card-img-top" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Image cap" preserveAspectRatio="xMidYMid slice" focusable="false">
                        <title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"></rect><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text>
                    </svg>

                    <div class="card-body">
                        <h5 class="card-title">Card title that wraps to a new line</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-6">

        </div>
    </div>

    <div class="col-12">
        <div style="border-radius: 16px;" class="card mb-3">
            <div class="row g-0">
                <div class="col-md-4">
                    <img style="border-radius: 16px;" src="https://static.dosi-in.com/images/detailed/329/dosiin-vans-giay-sneakers-vans-ua-skhi-logo-repeat-vn-a-u-ctez-329506329506.jpg" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!--Kết thúc cột tin tức lớn bên trái-->
<!--Cột tin tức nhỏ bên phải-->
<div class="col-md-3">
    <div class="col mb-1">
        <div class="card bg-dark text-white">
            <img src="https://www.converse.com.vn/pictures/catalog/news/fashion/2020/converse-cx-oct-chi-nhung/11.jpg" class="card-img" alt="...">
            <div class="card-img-overlay d-flex flex-column justify-content-end">
                <div class="row">
                    <div class="col d-flex align-items-center">
                        <span style="font-size: small; padding: 0px 5px;" class="bg-primary">
                            <b>Xu hướng</b>
                        </span>
                    </div>
                </div>
                <h5 style="font-size: small;" class="card-title text-uppercase">
                    THIẾT KẾ ỨNG DỤNG ĐẾ “TRANSPARENT” CONVERSE CX
                </h5>
            </div>
        </div>
    </div>
    <div class="col mb-1">
        <div class="card bg-dark text-white">
            <img src="https://www.converse.com.vn/pictures/catalog/news/fashion/2021/ctmxnba-sp21/01-THUMB.jpg" class="card-img" alt="...">
            <div class="card-img-overlay d-flex flex-column justify-content-end">
                <div class="row">
                    <div class="col d-flex align-items-center">
                        <span style="font-size: small; padding: 0px 5px;" class="bg-primary">
                            <b>Sự kiện</b>
                        </span>
                    </div>
                </div>
                <h5 style="font-size: small;" class="card-title text-uppercase">
                    CONVERSE X CHINATOWN MARKET X NBA ĐỈNH RA SAO ĐỐI VỚI CÁC FAN CỦA SÂN CHƠI NÀY?
                </h5>
            </div>
        </div>
    </div>
    <div class="col mb-1">
        <div class="card bg-dark text-white">
            <img src="https://www.converse.com.vn/pictures/catalog/news/fashion/2021/pride-su21/01-thumb.jpg" class="card-img" alt="...">
            <div class="card-img-overlay d-flex flex-column justify-content-end">
                <div class="row">
                    <div class="col d-flex align-items-center">
                        <span style="font-size: small; padding: 0px 5px;" class="bg-primary">
                            <b>Sự kiện</b>
                        </span>
                    </div>
                </div>
                <h5 style="font-size: small;" class="card-title  text-uppercase">
                    Trải nghiệm con đường màu sắc đầy hoa dài vô tận của Converse Pride
                </h5>
            </div>
        </div>
    </div>

    <div class="col mb-1">
        <div class="card bg-dark text-white">
            <img src="https://suntecproject.s3.amazonaws.com/web/suntec/suntec_front/wp-content/uploads/2019/11/PUMA-EOSS-AW19_SG_SUNTEC_1536x882.jpg" class="card-img" alt="...">
            <div class="card-img-overlay d-flex flex-column justify-content-end">
                <div class="row">
                    <div class="col d-flex align-items-center">
                        <span style="font-size: small; padding: 0px 5px;" class="bg-primary">
                            <b>Ưu đãi</b>
                        </span>
                    </div>
                </div>
                <h5 style="font-size: small;" class="card-title text-uppercase">
                    Khuyến mãi 50% các sản phẩm của PUMA !!!
                </h5>
            </div>
        </div>
    </div>


    <div class="col mb-1">
        <div class="card bg-dark text-white">
            <img src="https://online.anyflip.com/obvww/sjsu/files/mobile/1.jpg" class="card-img" alt="...">
            <div class="card-img-overlay d-flex flex-column justify-content-end">
                <div class="row">
                    <div class="col d-flex align-items-center">
                        <span style="font-size: small; padding: 0px 5px;" class="bg-primary">
                            <b>Ưu đãi</b>
                        </span>
                    </div>
                </div>
                <h5 style="font-size: small;" class="card-title text-uppercase">
                    Khuyến mãi 50% các sản phẩm của PUMA !!!
                </h5>
            </div>
        </div>
    </div>
</div>
<!--Kết thức cột tin tức nhỏ bên phải-->
</div>
</div>

<div class="d-flex justify-content-between">
    <img style="border-radius: 100%; width: 128px; height: 128px;" src="https://citisportsonline.com/wp-content/uploads/2019/12/puma-logo-png-puma-graphic-shorts-mens-1474363556-png-300.png" class="" alt="...">
    <img style="border-radius: 100%; width: 128px; height: 128px;" src="https://scontent.fvca1-4.fna.fbcdn.net/v/t1.18169-9/19894573_1946694285554546_2483250157916302544_n.png?_nc_cat=109&ccb=1-5&_nc_sid=973b4a&_nc_ohc=z4nm1ltaAbkAX-BD2EQ&_nc_ht=scontent.fvca1-4.fna&oh=d785ce9ec3fa0b2abd5ff121514f4728&oe=61C1925C" class="" alt="...">
    <img style="border-radius: 100%; width: 128px; height: 128px;" src="https://d1yjjnpx0p53s8.cloudfront.net/styles/logo-original-577x577/s3/032016/untitled-1_233.png?itok=CY49s6wa" class="" alt="...">
    <img style="border-radius: 100%; width: 128px; height: 128px;" src="https://www.pngkey.com/png/full/199-1995526_car-motorbike-stickers-vector-logos-converse-all-star.png" class="" alt="...">
    <img style="border-radius: 100%; width: 128px; height: 128px;" src="https://th.bing.com/th/id/OIP.Lf2K21S_y9ZfRw01ualKrQHaHa?pid=ImgDet&w=600&h=600&rs=1" class="" alt="...">
    <img style="border-radius: 100%; width: 128px; height: 128px;" src="https://pngimg.com/uploads/adidas/adidas_PNG17.png" class="bg-light" alt="...">
</div>

<div class="row col-8 align-items-center min-vh-75 min-vh-xl-100">
    <div class="col-md-8 col-lg-6 text-md-start text-center">
        <h1 class="display-1 lh-sm text-uppercase text-light">Khám phá <br class="d-none d-xxl-block"/> <br> Cho bạn</h1>
    </div>
    <div class="col-md-4 col-lg-6">
        <div class="d-flex justify-content-between">
            <img style="border-radius: 100%; width: 128px; height: 128px;" src="https://citisportsonline.com/wp-content/uploads/2019/12/puma-logo-png-puma-graphic-shorts-mens-1474363556-png-300.png" class="" alt="...">
            <img style="border-radius: 100%; width: 128px; height: 128px;" src="https://scontent.fvca1-4.fna.fbcdn.net/v/t1.18169-9/19894573_1946694285554546_2483250157916302544_n.png?_nc_cat=109&ccb=1-5&_nc_sid=973b4a&_nc_ohc=z4nm1ltaAbkAX-BD2EQ&_nc_ht=scontent.fvca1-4.fna&oh=d785ce9ec3fa0b2abd5ff121514f4728&oe=61C1925C" class="" alt="...">
            <img style="border-radius: 100%; width: 128px; height: 128px;" src="https://d1yjjnpx0p53s8.cloudfront.net/styles/logo-original-577x577/s3/032016/untitled-1_233.png?itok=CY49s6wa" class="" alt="...">
        </div>
        <div class="d-flex justify-content-between">
            <img style="border-radius: 100%; width: 128px; height: 128px;" src="https://www.pngkey.com/png/full/199-1995526_car-motorbike-stickers-vector-logos-converse-all-star.png" class="" alt="...">
            <img style="border-radius: 100%; width: 128px; height: 128px;" src="https://th.bing.com/th/id/OIP.Lf2K21S_y9ZfRw01ualKrQHaHa?pid=ImgDet&w=600&h=600&rs=1" class="" alt="...">
            <img style="border-radius: 100%; width: 128px; height: 128px;" src="https://pngimg.com/uploads/adidas/adidas_PNG17.png" class="bg-light" alt="...">
        </div>
    </div>
</div>
</div>


<div class="container">
    <div class="row align-items-center min-vh-75 min-vh-xl-100">
        <div class="col-md-8 col-lg-6 text-md-start text-center">
            <h1 class="display-1 lh-sm text-uppercase text-light">Custom Watches For <br class="d-none d-xxl-block"/> Any Occasion</h1>
            <div class="pt-4">
                <a class="btn btn-sm btn-outline-primary me-3" href="#">DESIGN &amp; ORDER</a><a class="btn btn-sm btn-outline-primary" href="#">REQUEST VIRTUAL</a>
            </div>
        </div>
    </div>
</div>
</section>
<section class="bg-black py-8 pt-0" id="store">
    <div class="bg-holder" style="background-image:url(assets/img/gallery/store-bg.png);background-position:left bottom;background-size:contain;">
    </div>
    <!--/.bg-holder-->


    <div class="container-lg">
        <div class="row flex-center">
            <div class="col-6 order-md-0 text-center text-md-start"></div>
            <div class="col-sm-10 col-md-6 col-lg-6 text-center text-md-start">
                <div class="col-4 position-relative ms-auto py-5">
                    <a class="carousel-control-prev carousel-icon z-index-2" href="#carouselExampleFade" role="button" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span><span class="visually-hidden">Previous</span>
                    </a>
                    <a class="carousel-control-next carousel-icon z-index-2" href="#carouselExampleFade" role="button" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span><span class="visually-hidden">Next</span>
                    </a>
                </div>
                <div class="carousel slide carousel-fade" id="carouselExampleFade" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row h-100">
                                <div class="col-12">
                                    <h5 class="fs-3 fs-lg-5 lh-sm text-uppercase">Our store</h5>
                                    <p class="my-4 pe-xl-5">Memphis clinched a spot in the play-in tournament with the victory, but the fight for seeding continues. The race for the No. 8 spot in the West -- and the safety net of having to win just one of two games to make the playoffs -- could come down to the regular seasons final day, when Memphis and Golden State meet. The good thing for the Grizzlies is they dont have to leave home until that matchup as they have games against Dallas and two against Sacramento before the finale.</p>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row h-100">
                                <div class="col-12">
                                    <h5 class="fs-3 fs-lg-5 lh-sm text-uppercase">Our store</h5>
                                    <p class="my-4 pe-xl-5">Memphis clinched a spot in the play-in tournament with the victory, but the fight for seeding continues. The race for the No. 8 spot in the West -- and the safety net of having to win just one of two games to make the playoffs -- could come down to the regular seasons final day, when Memphis and Golden State meet. The good thing for the Grizzlies is they dont have to leave home until that matchup as they have games against Dallas and two against Sacramento before the finale.</p>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row h-100">
                                <div class="col-12">
                                    <h5 class="fs-3 fs-lg-5 lh-sm text-uppercase">Our store</h5>
                                    <p class="my-4 pe-xl-5">Memphis clinched a spot in the play-in tournament with the victory, but the fight for seeding continues. The race for the No. 8 spot in the West -- and the safety net of having to win just one of two games to make the playoffs -- could come down to the regular seasons final day, when Memphis and Golden State meet. The good thing for the Grizzlies is they dont have to leave home until that matchup as they have games against Dallas and two against Sacramento before the finale.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="py-0 pb-6" id="collections">
<div class="container">
<div class="row h-100">
<div class="col-lg-7 mt-7">
    <h5 class="fs-3 fs-lg-5 lh-sm mb-0 text-uppercase">Collections</h5>
</div>
<div class="col-12">
<nav>
    <div class="nav nav-tabs watch-tabs mb-4 justify-content-end" id="nav-tab" role="tablist">
        <button class="nav-link active" id="nav-latest-tab" data-bs-toggle="tab" data-bs-target="#nav-latest" type="button" role="tab" aria-controls="nav-latest" aria-selected="true">LATEST </button>
        <button class="nav-link" id="nav-popular-tab" data-bs-toggle="tab" data-bs-target="#nav-popular" type="button" role="tab" aria-controls="nav-popular" aria-selected="false">POPULAR</button>
    </div>
</nav>
<div class="tab-content" id="nav-tabContent">
<div class="tab-pane fade show active" id="nav-latest" role="tabpanel" aria-labelledby="nav-latest-tab">
    <div class="carousel slide" id="carouselLatest" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="10000">
                <div class="row h-100 align-items-center">
                    <div class="col-sm-6 col-md-4 mb-3 mb-md-0">
                        <div class="card bg-black text-white p-6 pb-8">
                            <img class="card-img" src="assets/img/gallery/watch-2.png" alt="..."/>
                            <div class="card-img-overlay bg-dark-gradient d-flex flex-column-reverse align-items-center">
                                <h6 class="text-primary">$650.00</h6>
                                <h4 class="text-light">ADRIATICA ADR</h4>
                            </div><a class="stretched-link" href="#"></a>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 mb-3 mb-md-0">
                        <div class="card bg-black text-white p-6 pb-8">
                            <img class="card-img" src="assets/img/gallery/watch-3.png" alt="..."/>
                            <div class="card-img-overlay bg-dark-gradient d-flex flex-column-reverse align-items-center">
                                <h6 class="text-primary">$126.00</h6>
                                <h4 class="text-light">SEIKO SNZGO7K1</h4>
                            </div><a class="stretched-link" href="#"></a>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 mb-3 mb-md-0">
                        <div class="card bg-black text-white p-6 pb-8">
                            <img class="card-img" src="assets/img/gallery/watch-1.png" alt="..."/>
                            <div class="card-img-overlay bg-dark-gradient d-flex flex-column-reverse align-items-center">
                                <h6 class="text-primary">$250.00</h6>
                                <h4 class="text-light">ROAMER RM 220837</h4>
                            </div><a class="stretched-link" href="#"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="5000">
                <div class="row h-100 align-items-center">
                    <div class="col-sm-6 col-md-4 mb-3 mb-md-0">
                        <div class="card bg-black text-white p-6 pb-8">
                            <img class="card-img" src="assets/img/gallery/watch-2.png" alt="..."/>
                            <div class="card-img-overlay bg-dark-gradient d-flex flex-column-reverse align-items-center">
                                <h6 class="text-primary">$650.00</h6>
                                <h4 class="text-light">ADRIATICA ADR</h4>
                            </div><a class="stretched-link" href="#"></a>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 mb-3 mb-md-0">
                        <div class="card bg-black text-white p-6 pb-8">
                            <img class="card-img" src="assets/img/gallery/watch-3.png" alt="..."/>
                            <div class="card-img-overlay bg-dark-gradient d-flex flex-column-reverse align-items-center">
                                <h6 class="text-primary">$126.00</h6>
                                <h4 class="text-light">SEIKO SNZGO7K1</h4>
                            </div><a class="stretched-link" href="#"></a>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 mb-3 mb-md-0">
                        <div class="card bg-black text-white p-6 pb-8">
                            <img class="card-img" src="assets/img/gallery/watch-1.png" alt="..."/>
                            <div class="card-img-overlay bg-dark-gradient d-flex flex-column-reverse align-items-center">
                                <h6 class="text-primary">$250.00</h6>
                                <h4 class="text-light">ROAMER RM 220837</h4>
                            </div><a class="stretched-link" href="#"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="3000">
                <div class="row h-100 align-items-center">
                    <div class="col-sm-6 col-md-4 mb-3 mb-md-0">
                        <div class="card bg-black text-white p-6 pb-8">
                            <img class="card-img" src="assets/img/gallery/watch-2.png" alt="..."/>
                            <div class="card-img-overlay bg-dark-gradient d-flex flex-column-reverse align-items-center">
                                <h6 class="text-primary">$650.00</h6>
                                <h4 class="text-light">ADRIATICA ADR</h4>
                            </div><a class="stretched-link" href="#"></a>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 mb-3 mb-md-0">
                        <div class="card bg-black text-white p-6 pb-8">
                            <img class="card-img" src="assets/img/gallery/watch-3.png" alt="..."/>
                            <div class="card-img-overlay bg-dark-gradient d-flex flex-column-reverse align-items-center">
                                <h6 class="text-primary">$126.00</h6>
                                <h4 class="text-light">SEIKO SNZGO7K1</h4>
                            </div><a class="stretched-link" href="#"></a>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 mb-3 mb-md-0">
                        <div class="card bg-black text-white p-6 pb-8">
                            <img class="card-img" src="assets/img/gallery/watch-1.png" alt="..."/>
                            <div class="card-img-overlay bg-dark-gradient d-flex flex-column-reverse align-items-center">
                                <h6 class="text-primary">$250.00</h6>
                                <h4 class="text-light">ROAMER RM 220837</h4>
                            </div><a class="stretched-link" href="#"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row h-100 align-items-center">
                    <div class="col-sm-6 col-md-4 mb-3 mb-md-0">
                        <div class="card bg-black text-white p-6 pb-8">
                            <img class="card-img" src="assets/img/gallery/watch-2.png" alt="..."/>
                            <div class="card-img-overlay bg-dark-gradient d-flex flex-column-reverse align-items-center">
                                <h6 class="text-primary">$650.00</h6>
                                <h4 class="text-light">ADRIATICA ADR</h4>
                            </div><a class="stretched-link" href="#"></a>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 mb-3 mb-md-0">
                        <div class="card bg-black text-white p-6 pb-8">
                            <img class="card-img" src="assets/img/gallery/watch-3.png" alt="..."/>
                            <div class="card-img-overlay bg-dark-gradient d-flex flex-column-reverse align-items-center">
                                <h6 class="text-primary">$126.00</h6>
                                <h4 class="text-light">SEIKO SNZGO7K1</h4>
                            </div><a class="stretched-link" href="#"></a>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 mb-3 mb-md-0">
                        <div class="card bg-black text-white p-6 pb-8">
                            <img class="card-img" src="assets/img/gallery/watch-1.png" alt="..."/>
                            <div class="card-img-overlay bg-dark-gradient d-flex flex-column-reverse align-items-center">
                                <h6 class="text-primary">$250.00</h6>
                                <h4 class="text-light">ROAMER RM 220837</h4>
                            </div><a class="stretched-link" href="#"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselLatest" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span><span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselLatest" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span><span class="visually-hidden">Next </span>
                </button>
            </div>
        </div>
    </div>
</div>
<div class="tab-pane fade" id="nav-popular" role="tabpanel" aria-labelledby="nav-popular-tab">
    <div class="carousel slide" id="carouselPopular" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="10000">
                <div class="row h-100 align-items-center">
                    <div class="col-sm-6 col-md-4 mb-3 mb-md-0">
                        <div class="card bg-black text-white p-6 pb-8">
                            <img class="card-img" src="assets/img/gallery/watch-2.png" alt="..."/>
                            <div class="card-img-overlay bg-dark-gradient d-flex flex-column-reverse align-items-center">
                                <h6 class="text-primary">$650.00</h6>
                                <h4 class="text-light">ADRIATICA ADR</h4>
                            </div><a class="stretched-link" href="#"></a>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 mb-3 mb-md-0">
                        <div class="card bg-black text-white p-6 pb-8">
                            <img class="card-img" src="assets/img/gallery/watch-3.png" alt="..."/>
                            <div class="card-img-overlay bg-dark-gradient d-flex flex-column-reverse align-items-center">
                                <h6 class="text-primary">$126.00</h6>
                                <h4 class="text-light">SEIKO SNZGO7K1</h4>
                            </div><a class="stretched-link" href="#"></a>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 mb-3 mb-md-0">
                        <div class="card bg-black text-white p-6 pb-8">
                            <img class="card-img" src="assets/img/gallery/watch-1.png" alt="..."/>
                            <div class="card-img-overlay bg-dark-gradient d-flex flex-column-reverse align-items-center">
                                <h6 class="text-primary">$250.00</h6>
                                <h4 class="text-light">ROAMER RM 220837</h4>
                            </div><a class="stretched-link" href="#"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="5000">
                <div class="row h-100 align-items-center">
                    <div class="col-sm-6 col-md-4 mb-3 mb-md-0">
                        <div class="card bg-black text-white p-6 pb-8">
                            <img class="card-img" src="assets/img/gallery/watch-2.png" alt="..."/>
                            <div class="card-img-overlay bg-dark-gradient d-flex flex-column-reverse align-items-center">
                                <h6 class="text-primary">$650.00</h6>
                                <h4 class="text-light">ADRIATICA ADR</h4>
                            </div><a class="stretched-link" href="#"></a>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 mb-3 mb-md-0">
                        <div class="card bg-black text-white p-6 pb-8">
                            <img class="card-img" src="assets/img/gallery/watch-3.png" alt="..."/>
                            <div class="card-img-overlay bg-dark-gradient d-flex flex-column-reverse align-items-center">
                                <h6 class="text-primary">$126.00</h6>
                                <h4 class="text-light">SEIKO SNZGO7K1</h4>
                            </div><a class="stretched-link" href="#"></a>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 mb-3 mb-md-0">
                        <div class="card bg-black text-white p-6 pb-8">
                            <img class="card-img" src="assets/img/gallery/watch-1.png" alt="..."/>
                            <div class="card-img-overlay bg-dark-gradient d-flex flex-column-reverse align-items-center">
                                <h6 class="text-primary">$250.00</h6>
                                <h4 class="text-light">ROAMER RM 220837</h4>
                            </div><a class="stretched-link" href="#"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="3000">
                <div class="row h-100 align-items-center">
                    <div class="col-sm-6 col-md-4 mb-3 mb-md-0">
                        <div class="card bg-black text-white p-6 pb-8">
                            <img class="card-img" src="assets/img/gallery/watch-2.png" alt="..."/>
                            <div class="card-img-overlay bg-dark-gradient d-flex flex-column-reverse align-items-center">
                                <h6 class="text-primary">$650.00</h6>
                                <h4 class="text-light">ADRIATICA ADR</h4>
                            </div><a class="stretched-link" href="#"></a>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 mb-3 mb-md-0">
                        <div class="card bg-black text-white p-6 pb-8">
                            <img class="card-img" src="assets/img/gallery/watch-3.png" alt="..."/>
                            <div class="card-img-overlay bg-dark-gradient d-flex flex-column-reverse align-items-center">
                                <h6 class="text-primary">$126.00</h6>
                                <h4 class="text-light">SEIKO SNZGO7K1</h4>
                            </div><a class="stretched-link" href="#"></a>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 mb-3 mb-md-0">
                        <div class="card bg-black text-white p-6 pb-8">
                            <img class="card-img" src="assets/img/gallery/watch-1.png" alt="..."/>
                            <div class="card-img-overlay bg-dark-gradient d-flex flex-column-reverse align-items-center">
                                <h6 class="text-primary">$250.00</h6>
                                <h4 class="text-light">ROAMER RM 220837</h4>
                            </div><a class="stretched-link" href="#"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row h-100 align-items-center">
                    <div class="col-sm-6 col-md-4 mb-3 mb-md-0">
                        <div class="card bg-black text-white p-6 pb-8">
                            <img class="card-img" src="assets/img/gallery/watch-2.png" alt="..."/>
                            <div class="card-img-overlay bg-dark-gradient d-flex flex-column-reverse align-items-center">
                                <h6 class="text-primary">$650.00</h6>
                                <h4 class="text-light">ADRIATICA ADR</h4>
                            </div><a class="stretched-link" href="#"></a>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 mb-3 mb-md-0">
                        <div class="card bg-black text-white p-6 pb-8">
                            <img class="card-img" src="assets/img/gallery/watch-3.png" alt="..."/>
                            <div class="card-img-overlay bg-dark-gradient d-flex flex-column-reverse align-items-center">
                                <h6 class="text-primary">$126.00</h6>
                                <h4 class="text-light">SEIKO SNZGO7K1</h4>
                            </div><a class="stretched-link" href="#"></a>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 mb-3 mb-md-0">
                        <div class="card bg-black text-white p-6 pb-8">
                            <img class="card-img" src="assets/img/gallery/watch-1.png" alt="..."/>
                            <div class="card-img-overlay bg-dark-gradient d-flex flex-column-reverse align-items-center">
                                <h6 class="text-primary">$250.00</h6>
                                <h4 class="text-light">ROAMER RM 220837</h4>
                            </div><a class="stretched-link" href="#"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselPopular" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span><span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselPopular" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span><span class="visually-hidden">Next </span>
                </button>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>
</div>
</section>


<!-- ============================================-->
<!-- <section> begin ============================-->
<section class="py-6 bg-dark">

    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-lg-3 mb-4 mb-lg-0 d-flex flex-center">
                <img src="assets/img/gallery/rado.png" alt="brands"/>
            </div>
            <div class="col-sm-6 col-lg-3 mb-4 mb-lg-0 d-flex flex-center">
                <img src="assets/img/gallery/swatch.png" alt="brands"/>
            </div>
            <div class="col-sm-6 col-lg-3 mb-4 mb-lg-0 d-flex flex-center">
                <img src="assets/img/gallery/omega-1.png" alt="brands"/>
            </div>
            <div class="col-sm-6 col-lg-3 mb-4 mb-lg-0 d-flex flex-center">
                <img src="assets/img/gallery/zenith.png" alt="brands"/>
            </div>
        </div>
    </div>
    <!-- end of .container-->

</section>
<!-- <section> close ============================-->
<!-- ============================================-->
<!-- ============================================-->
<!-- <section> begin ============================-->
<section id="testimonial">

    <div class="container">
        <div class="row">
            <div class="col-lg-7 mx-auto text-center my-5">
                <h5 class="fs-3 fs-lg-5 lh-sm mb-0 text-uppercase">what customers are saying</h5>
            </div>
        </div>
        <div class="row flex-center h-100">
            <div class="col-xl-9">
                <div class="carousel slide" id="carouselTestimonials" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active" data-bs-interval="10000">
                            <div class="row h-100 justify-content-center">
                                <div class="col-md-6 mb-4">
                                    <div class="card h-100 shadow card-span p-3 bg-black">
                                        <div class="card-body">
                                            <div class="d-flex align-items-center">
                                                <img class="img-fluid" src="assets/img/gallery/smith.png" width="80" alt="testimonials"/>
                                                <div class="flex-1 ms-4">
                                                    <h6 class="fs-lg-1 mb-1 text-uppercase">amanda smith</h6>
                                                </div>
                                            </div>
                                            <p class="mb-0 mt-4 fw-light lh-lg">Nisi cumque in necessitatibus molestiae eaque excepturi ab. Laboriosam ipsam voluptatem voluptatibus labore quam nihil. Quasi occaecati quos ratione quia aut molestiae velit et.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-4">
                                    <div class="card h-100 shadow card-span p-3 bg-black">
                                        <div class="card-body">
                                            <div class="d-flex align-items-center">
                                                <img class="img-fluid" src="assets/img/gallery/sandra-willims.png" width="80" alt="testimonials"/>
                                                <div class="flex-1 ms-4">
                                                    <h6 class="fs-lg-1 mb-1 text-uppercase">Ainara Vergara</h6>
                                                </div>
                                            </div>
                                            <p class="mb-0 mt-4 fw-light lh-lg">Nisi cumque in necessitatibus molestiae eaque excepturi ab. Laboriosam ipsam voluptatem voluptatibus labore quam nihil. Quasi occaecati quos ratione quia aut molestiae velit et.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item" data-bs-interval="5000">
                            <div class="row h-100 justify-content-center">
                                <div class="col-md-6 mb-4">
                                    <div class="card h-100 shadow card-span p-3 bg-black">
                                        <div class="card-body">
                                            <div class="d-flex align-items-center">
                                                <img class="img-fluid" src="assets/img/gallery/smith.png" width="80" alt="testimonials"/>
                                                <div class="flex-1 ms-4">
                                                    <h6 class="fs-lg-1 mb-1 text-uppercase">Niek Bove</h6>
                                                </div>
                                            </div>
                                            <p class="mb-0 mt-4 fw-light lh-lg">Nisi cumque in necessitatibus molestiae eaque excepturi ab. Laboriosam ipsam voluptatem voluptatibus labore quam nihil. Quasi occaecati quos ratione quia aut molestiae velit et.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-4">
                                    <div class="card h-100 shadow card-span p-3 bg-black">
                                        <div class="card-body">
                                            <div class="d-flex align-items-center">
                                                <img class="img-fluid" src="assets/img/gallery/sandra-willims.png" width="80" alt="testimonials"/>
                                                <div class="flex-1 ms-4">
                                                    <h6 class="fs-lg-1 mb-1 text-uppercase">Ainara Vergara</h6>
                                                </div>
                                            </div>
                                            <p class="mb-0 mt-4 fw-light lh-lg">Nisi cumque in necessitatibus molestiae eaque excepturi ab. Laboriosam ipsam voluptatem voluptatibus labore quam nihil. Quasi occaecati quos ratione quia aut molestiae velit et.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row h-100 justify-content-center">
                                <div class="col-md-6 mb-4">
                                    <div class="card h-100 shadow card-span p-3 bg-black">
                                        <div class="card-body">
                                            <div class="d-flex align-items-center">
                                                <img class="img-fluid" src="assets/img/gallery/smith.png" width="80" alt="testimonials"/>
                                                <div class="flex-1 ms-4">
                                                    <h6 class="fs-lg-1 mb-1 text-uppercase">amanda smith</h6>
                                                </div>
                                            </div>
                                            <p class="mb-0 mt-4 fw-light lh-lg">Nisi cumque in necessitatibus molestiae eaque excepturi ab. Laboriosam ipsam voluptatem voluptatibus labore quam nihil. Quasi occaecati quos ratione quia aut molestiae velit et.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-4">
                                    <div class="card h-100 shadow card-span p-3 bg-black">
                                        <div class="card-body">
                                            <div class="d-flex align-items-center">
                                                <img class="img-fluid" src="assets/img/gallery/sandra-willims.png" width="80" alt="testimonials"/>
                                                <div class="flex-1 ms-4">
                                                    <h6 class="fs-lg-1 mb-1 text-uppercase">Ainara Vergara</h6>
                                                </div>
                                            </div>
                                            <p class="mb-0 mt-4 fw-light lh-lg">Nisi cumque in necessitatibus molestiae eaque excepturi ab. Laboriosam ipsam voluptatem voluptatibus labore quam nihil. Quasi occaecati quos ratione quia aut molestiae velit et.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-5 flex-center">
                        <div class="col-auto position-relative z-index-2">
                            <ol class="carousel-indicators">
                                <li class="active mx-2" data-bs-target="#carouselTestimonials" data-bs-slide-to="0"></li>
                                <li class="mx-2" data-bs-target="#carouselTestimonials" data-bs-slide-to="1"></li>
                                <li class="mx-2" data-bs-target="#carouselTestimonials" data-bs-slide-to="2"></li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end of .container-->

</section>
<!-- <section> close ============================-->
<!-- ============================================-->