@{
    ViewData["Title"] = "Create Shoes";
    Layout = "~/Views/Shared/Admin/_Layout.cshtml";
}

@if (ViewBag.Loi != null)
{
    <h1>ViewBag.Loi</h1>
}

<div class="content">
    <form method="post">
        <div class="form-group">
            <input class="form-control" name="name" type="text" placeholder="Tên sản phẩm">
        </div>
        <div class="form-group">
            <input class="form-control" name="type" type="text" placeholder="Loại">
        </div>
        <div class="form-group">
            <input class="form-control" name="size" type="text" placeholder="Kích thước">
        </div>
        <div class="form-group">
            <input class="form-control" name="price" type="text" placeholder="Giá">
        </div>
        <div class="form-group">
            <input class="form-control" name="quantity" type="text" placeholder="Số lượng">
        </div>
        <div class="form-group">
            <input class="form-control" name="desciption" type="text" placeholder="Mô tả">
        </div>
        <div class="form-group">
            <input class="form-control" name="imagepath" type="text" placeholder="Hình ảnh">
        </div>

        <div class="form-group">
            <button type="submit" class="btn app-btn-primary">
                Thêm
            </button>
            
            <a class="btn btn-warning" href="~/Admin/QLSanPham">
                Trở về
            </a>
        </div>
        

    </form>

   
</div>






