@{
    Layout = "~/Views/Shared/Admin/_Layout.cshtml";
}

@if (ViewBag.Loi != null)
{
    <h1>ViewBag.Loi</h1>
}

<div class="content">
    <p class="p-3 alert-danger">Bạn có chắc muốn xóa sản phẩm này?</p>

    <div class="form-group">
        <form method="post" action="~/Admin/DeleteShoes">
            <input type="hidden" value="@ViewBag.ID" name="ID" />
            <button type="submit" class="btn btn-danger">
                Xóa
            </button>
            <a class="btn btn-warning" href="~/Admin/QLSanPham">
                Trở về
            </a>
        </form>

        
    </div>
</div>